#home
  %h1 ZFS Snapshots
  %table
    - zfs.each do |zf| 
      %tr
        %td= ( "#{zf[:used]} #{zf[:avail]}" )
        %td
          %a(href="props/#{zf[:name]}")= zf[:name] 
        %td
          %a(href="clone/#{zf[:name]}")= "clone"
        %td
          %a(href="rollback/#{zf[:name]}")= "rollback"
        %td
          %a(href="destroy/#{zf[:name]}")= "destroy"
  
  
