#home
	%h1 ZFS Snapshots
	%ul.posts
		- zfs.each do |zf| 
			%li.li
				%span= ( "#{zf[:used]} #{zf[:avail]}" )
				%a(href="props/#{zf[:name]}")= zf[:name] 
				%a(href="clone/#{zf[:name]}")= "Make Clone"
  
  
