#home
  %h1 ZFS Volumes
  %table.posts
    - zfs.each do |zf| 
      %tr
        %td= ( "#{zf[:used]} #{zf[:avail]}" )
        %td
          %a(href="props/#{zf[:name]}")= zf[:name] 
        %td
          %a(href="snap/#{zf[:name]}")= "snapshot"
  %h1
    %a(href="/snapshots") Snapshots
